<mat-toolbar>
    <span>Registration</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input  matInput  placeholder="First name"  name="fname" #fname required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input  matInput  placeholder="Last Name" name="lname" #lname required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput   placeholder="Email" name="email" #email required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input  matInput type="password"  placeholder="Password"  name="password" #password required>
             </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="register(fname.value, lname.value, email.value, password.value)" color="primary">REGISTER</button>
     </mat-card-actions>
  </mat-card>